@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<section class="about_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        İletişim
      </h2>
    </div>
    <div class="box">
      <div class="img-box">
        <img src="/images/about-img.png" alt="">
      </div>
      <div class="detail-box">
        <p>
          
        </p>
        <div class="btn-box">
          <a href="">
            Daha fazla
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

